<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#1e2327">
  <meta name="description" content="My portfolio as Front-End Developer | Back-End Developer | Fullstack Developer.">
  <title>Yusril A. P. Portfolio | Front-End Developer/Back-End Developer/Fullstack Developer</title>
</head>

<body class="text-white">
  <header class="sticky top-0 z-50 animate-fade-in">
    <nav class="text-lg md:text-xl lg:text-2xl tracking-wider py-4">
      <div class="container flex justify-between items-center">

        <p class="title text-xl md:text-3xl"></p>

        <div class="flex lg:hidden">
          <div class="language-container relative text-base flex flex-col justify-center items-center mr-4">
            <button class="language fas fa-globe-americas hover:text-blue-400" aria-label="Switch language"><span class="fas fa-angle-down ml-2"></span></button>

            <ul class="language-list absolute -bottom-24 text-left hidden grid-rows-2 gap-2 bg-black transform scale-0 opacity-0 origin-top transition-all duration-300"></ul>
          </div>

          <button class="fas fa-bars text-xl hover:text-blue-400" id="menu-trigger" aria-label="Open menu"></button>
        </div>

        <div class="nav-list-container flex flex-col lg:inline-block lg:w-2/4">
          <ul class="nav-list text-lg lg:text-xl text-center flex flex-col lg:flex-row justify-evenly lg:justify-between w-3/4 md:w-2/4 lg:w-full">
            <li class="text-2xl text-gradient font-bold p-4 lg:p-0 lg:hidden">
              <p>Menu</p>
            </li>

            <li class=" p-4 lg:p-0">
              <a class="home hover:text-blue-400" href="#home">Home</a>
            </li>

            <li class="p-4 lg:p-0">
              <a class="about hover:text-blue-400" href="#about">About</a>
            </li>

            <li class="p-4 lg:p-0">
              <a class="portfolio hover:text-blue-400" href="#portfolio">Portfolio</a>
            </li>

            <li class="p-4 lg:p-0">
              <a class="contact hover:text-blue-400" href="#contact">Contact</a>
            </li>

            <li class="hidden lg:flex flex-col justify-center items-center">
              <div class="language-container relative text-base flex flex-col justify-center items-center">
                <button class="language fas fa-globe-americas hover:text-blue-400" aria-label="Switch language"><span class="fas fa-angle-down ml-2"></span></button>
    
                <ul class="language-list absolute -bottom-24 text-left hidden grid-rows-2 gap-2 bg-black transform scale-0 opacity-0 origin-top transition-all duration-300"></ul>
              </div>
            </li>

            <li class="text-4xl p-4 lg:hidden">
              <button class="fas fa-times-circle hover:text-blue-400" id="close-menu" aria-label="Close menu"></button>
            </li>
          </ul>

          <div class="nav-overlay lg:hidden bg-transparent absolute inset-0"></div>
        </div>
      </div>
    </nav>
  </header>

  <main class="w-full">
    <section class="container flex flex-col md:flex-row items-center justify-around min-h-screen 2xl:min-h-0 2xl:mt-8 mb-10" id="home">
      <div class="tracking-wider text-center md:text-left animate-slide-from-bottom">
        <h1 class="text-gradient text-5xl md:text-4xl lg:text-5xl xl:text-6xl">Yusril A. P.</h1>
        <h2 class="text-xl">Web Developer</h2>
      </div>

      <picture class="my-picture animate-slide-from-bottom">
        <source media="(max-width: 360px)" srcset="/images/me-small.webp">
        <source media="(max-width: 640px)" srcset="/images/me-medium.webp">
        <source srcset="/images/me.webp">
        <img src="/images/me.png" srcset="
                /images/me-small.png 360w,
                /images/me-medium.png 640w,
                /images/me.png 857w
            " sizes="(max-width: 360px) 360px,(max-width: 768px) 640px, 857px" alt="My photo" class="ml-auto" />
      </picture>
    </section>

    <section class="container flex justify-center mb-10" id="about">
      <div class="py-32 md:py-0 2xl:py-32 flex items-center justify-around md:min-h-screen 2xl:min-h-0 2xl:mt-8">
        <span class="about-illust text-center tracking-tight text-8xl hidden md:inline-block" aria-label="Objek Dekorasi"><span class="text-indigo-500">y:</span>\><span class="animate-pulse">_</span></span>
  
        <div class="paragraf-container">
          <h2 class="title text-white tracking-wider text-center md:text-left text-4xl md:text-3xl lg:text-4xl xl:text-5xl">
            About Me</h2>
          <p class="description text-gray-400 mt-4 lg:mt-8">
            Im a college student at State University of Surabaya.
            I love learning about the world of technology especially on the website development with javascript.
            My programming experience now is approximately 1 year.
          </p>
        </div>
      </div>
    </section>

    <section class="container flex justify-center mb-20" id="excellence">
      <div class="w-full pt-16 flex flex-col items-center justify-evenly min-h-screen xl:min-h-0 xl:mt-8">
        <div class="text-center mt-8">
          <h2 class="title text-white tracking-wider text-4xl md:text-3xl lg:text-4xl xl:text-5xl">Excellence</h2>
          <p class="subtitle text-gray-400 mt-4">Some of frameworks that I use frequently.</p>
        </div>

        <ul class="w-full text-gray-400 text-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16 md:gap-y-16 mt-16">
          <li class="flex flex-col items-center my-8">
            <span class="responsive-illust fas fa-desktop font-bold text-gradient text-8xl" aria-label="Responsive illustratio"></span>
            <h3 class="responsive-title text-white font-bold mt-4">Responsive</h3>
            <p class="responsive-description mt-4 text-sm">The design is compatible with any devices.</p>
          </li>

          <li class="flex flex-col items-center my-8">
            <span class="accessibility-illust fas fa-universal-access text-gradient font-bold text-8xl" aria-label="Accessibility illustration"></span>
            <h3 class="accessibility-title text-white font-bold mt-4">Accessibility</h3>
            <p class="accessibility-description mt-4 text-sm">The website can be accessed properly by screenreaders (devices for disabilities).</p>
          </li>

          <li class="md:col-span-2 lg:col-span-1 flex flex-col items-center my-8">
            <span class="pwa-illust fas fa-globe text-gradient font-bold text-8xl" aria-label="Progressive Web Apps illustration"></span>
            <h3 class="pwa-title text-white font-bold mt-4">Progressive Web Apps</h3>
            <p class="pwa-description mt-4 text-sm">The website can be accessed either online or offline.</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="container flex justify-center mb-28" id="framework">
      <div class="w-full pt-16 pb-4 flex flex-col items-center justify-evenly min-h-screen md:min-h-0 xl:mt-8">
        <div class="text-center mt-8 mb-8">
          <h2 class="title text-white tracking-wider text-4xl md:text-3xl lg:text-4xl xl:text-5xl">Framework</h2>
          <p class="subtitle text-gray-400 mt-4">Some of frameworks that I use frequently.</p>
        </div>

        <ul class="w-full mt-16 grid grid-cols-2 lg:grid-cols-3 gap-8 gap-y-16 md:gap-x-0 xl:gap-y-32"></ul>
      </div>
    </section>

    <section class="container flex justify-center mb-10" id="portfolio">
      <div class="pt-16 flex flex-col items-center justify-evenly min-h-screen 2xl:min-h-0 2xl:mt-8">
        <div class="text-center mt-8">
          <h2 class="title text-white tracking-wider text-4xl md:text-3xl lg:text-4xl xl:text-5xl">Portfolio</h2>
          <p class="subtitle text-gray-400 mt-4">Here are some of the amazing applications I made.</p>
        </div>

        <ul class="w-full flex flex-col justify-between items-center mt-16 pt-8" id="portfolio-list"></ul>
      </div>
    </section>

    <section class="container flex justify-center mb-10" id="feed">
      <div class="pt-16 flex flex-col items-center justify-evenly min-h-screen 2xl:min-h-0 2xl:mt-8">
        <div class="text-center mt-8">
          <h2 class="title text-white tracking-wider text-4xl md:text-3xl lg:text-4xl xl:text-5xl">Get In Touch</h2>
          <p class="subtitle text-gray-400 mt-4">Dont wait until tomorrow. Let's talk about your project.</p>
        </div>

        <div class="w-full flex justify-between mt-8 lg:mt-16 pt-8">
          <form id="feed-form" class="lg:mr-32">
            <input type="text" id="feed-sender" class="w-full focus:ring-1 focus:ring-blue-400 focus:ring-opacity-25 bg-transparent border-gray-500" placeholder="Name" autocomplete="off" required>

            <input type="text" id="feed-subject" class="w-full my-8 focus:ring-1 focus:ring-blue-400 focus:ring-opacity-25 bg-transparent border-gray-500" placeholder="Subject" autocomplete="off" required>

            <textarea id="feed-body" rows="10" placeholder="Tell me the detail and don't forget to include your contact." class="w-full focus:ring-1 focus:ring-blue-400 focus:ring-opacity-25 bg-transparent border-gray-500" autocomplete="off" required></textarea>

            <button type="submit" class="mt-4 mx-auto block lg:inline px-6 py-2 border gradient-border bg-transparent hover:gradient-bg">
              Send
            </button>
          </form>

          <picture class="form-image hidden lg:block">
            <source srcset="/images/me-color.webp">
            <img src="/images/me-color.png" alt="my photo" />
          </picture>
        </div>
      </div>
    </section>

    <section class="flex justify-center py-8 text-gray-400 text-sm" id="contact">
      <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-32 gap-y-16">
        <div class="flex flex-col">
          <h3 class="web-title text-lg font-bold">My <span class="text-gradient font-bold">Portfolio</span></h3>
          <p class="mt-4">Yusril Adriansyah Putra</p>
          <p class="web-university mt-2">State University of Surabaya</p>
          <p class="web-location mt-2">Surabaya, East Java</p>
          <ul class="flex mt-4 text-lg font-bold">
            <li class="mr-4"><a href="https://www.instagram.com/yusril_adr" target="_blank" rel="noreferrer" aria-label="instagram" class="hover:text-gradient "><i class="fab fa-instagram"></i></a></li>
            <li class="mr-4"><a href="https://github.com/yusril-adr" target="_blank" rel="noreferrer" aria-label="github" class="hover:text-gradient "><i class="fab fa-github"></i></a></li>
            <li class="mr-4"><a href="https://www.linkedin.com/in/yusril-adr" target="_blank" rel="noreferrer" aria-label="linkedin" class="hover:text-gradient "><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://wa.me/6287854029394" target="_blank" rel="noreferrer" aria-label="whatsapp" class="hover:text-gradient"><i class="fab fa-whatsapp"></i></a></li>
          </ul>
        </div>

        <div class="flex flex-col">
          <h3 class="contact-title text-white text-lg font-bold tracking-wider">Contact</h3>
          <p class="mt-4"><i class="fas fa-envelope text-lg" aria-label="Email"></i>&ensp;: yusriladr.37@gmail.com</p>
          <p class="mt-4"><i class="contact-phone fas fa-phone-alt text-lg" aria-label="Phone number"></i>&ensp;: +6287854029394</p>
        </div>

        <div class="flex flex-col">
          <h3 class="service-title text-white text-lg mb-4 font-bold tracking-wider">Services</h3>
          <p>Front-End Web Developer</p>
          <p class="mt-2">Back-End Web Developer</p>
          <p class="mt-2">Fullstack Web Developer</p>
        </div>
      </div>
    </section>
  </main>

  <footer class="flex">
    <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-32 gap-y-16 m-auto text-gray-500 text-xs">
      <p class="hidden md:inline-block lg:col-span-2">Keep the style minimalist.</p>
      <p>© Yusril A. P. 2021 All rights reserved</p>
    </div>
  </footer>
</body>

</html>