@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "~@fortawesome/fontawesome-free/css/solid.min.css";
@import "~@fortawesome/fontawesome-free/css/brands.min.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'Montserrat Black';
    font-weight: 400;
    font-display: swap;
    src: url('../public/fonts/Montserrat-Black.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-display: swap;
    src: url('../public/fonts/Montserrat-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-display: swap;
    src: url('../public/fonts/RobotoMono-Regular.ttf') format('truetype');
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #6366f1;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
  box-sizing: border-box;
  background-color: #000;
}

textarea {
  resize: none;
}

header {
  nav {
    background-color: rgba(0, 0, 0, 0);
    @apply transition-colors duration-300 ease-in;
  }

  &.onscroll {
    nav {
      background-color: rgba(0, 0, 0, 1);
    }
  }
}

section {
  opacity: 0;
}

footer {
  min-height: 75px;
  background-color: #0c0d0c;
}

.reached {
  @apply animate-slide-from-bottom;
}

.gradient-bg,
.hover\:gradient-bg:hover {
  @apply bg-gradient-to-tr from-blue-400 via-indigo-500 to-green-700;
}


.gradient-border,
.hover\:gradient-border:hover  {
  @apply border-solid border-2;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top right, rgb(96, 165, 250), rgb(99, 102, 241), rgb(4, 120, 87));
}

.text-gradient,
.hover\:text-gradient:hover {
  @apply gradient-bg text-white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home,
#contact {
  opacity: 1;
}

#about,
#excellence,
#framework,
#portfolio,
#feed {
  position: relative;

  &::before {
    content: '';
    @apply border-2 border-solid border-gray-700 border-opacity-30;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }

  &::after {
    content: '';
    height: 5rem;
    position: absolute;
    top: -2.5rem;
    border-style: solid;
    border-right-width: 0;
    border-left-width: 4px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #60a5fa, #6366f1, #047857);
  }
}

#excellence::before,
#portfolio::before {
  left: 0;
}

#contact {
  background-color: #111;
}

.language-list.active {
  @apply opacity-100 scale-100;
}

.language-item:hover {
  background-color: #111;
}

.my-picture,
.my-picture img {
  min-width: 100%;
}

.about-illust {
  font-family: 'Roboto Mono', monospace, sans-serif;
  letter-spacing: -.5rem;
  width: 50%;
}

.portfolio-image {
  position: relative;

  .hover-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s ease;
  }

  i {
    transform: scale(0);
    transition: transform .3s ease;
  }

  &:hover {
    @apply gradient-border border-4;

    .hover-image {
      background-color: rgba(0, 0, 0, .75);
    }

    i {
      transform: scale(1);
    }
  }
}

.form-image {
  width: 50%;
}

@media screen and (max-width: 1023px) {
  header nav {
    .nav-list-container {
      @apply fixed inset-y-0 left-0 opacity-0 transition-opacity duration-300 ease-in;
      visibility: hidden;

      .nav-list {
        @apply relative z-10 m-auto bg-black bg-opacity-0 rounded-lg transform scale-0 transition-all duration-300 ease-in;
      }
    }

    .nav-list-container.active {
      @apply opacity-100 right-0;
      visibility: visible;

      .nav-list {
        @apply bg-opacity-90 scale-100;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .my-picture,
  .my-picture img {
    min-width: unset;
    max-width: 70%;
  }

  .paragraf-container {
    max-width: 50%;
  }

  .portfolio-text {
    max-width: 50%;
  }

  .portfolio-image {
    max-width: 40%;
  }
}
